*~
*.o
*.a
*.gcno
*.gcda
*.gcov
.deps
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
src/nps
src/nps-top
src/snapshot
stamp-h1
*.tar.gz
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
debian/files
debian/nps
debian/substvars.*
lib/t-buffer
lib/t-bytes
lib/t-compare
lib/t-device
lib/t-error
lib/t-parse
lib/t-format
lib/t-time
